.poster.image {
	object-fit: cover;
}

:root {
	--height: 250px;
	--width: 250px;
}

.card.movie {
	height: var(--height);
	width: var(--width);
	user-select: none;
}

.card.movie > * > .ant-card-cover,
.poster.image {
	height: var(--height);
	width: var(--width);
}

.card.movie > .ant-card {
	width: var(--width);
	height: var(--height);
}

.site-layout-content {
	min-height: 280px;
	padding: 100px;
	background: #fff;
}

.card.movie > * > .ant-card-body {
	background: #639bd0;
	margin-top: -1px;
	margin-right: -1px;
	margin-left: -1px;
}

header > div.ant-row {
	align-items: center;
}

#center {
	border: thin solid red;
	background: green;
	border-radius: 15px 0px 0px 15px;
	height: 33px;
	min-height: 31px;
	max-width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.movies.input {
	width: 200px;
}
