:root {
	--height: 250px;
	--card-curve: 15px;
}

.header.fixed {
	background: #639bd0;
	position: fixed;
	z-index: 1;
	width: 100%;
}

/* Sidebar */
.ant-layout-sider,
.ant-layout-sider {
	background: #fff !important;
}

.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
	border: unset;
}

.ant-menu-inline .ant-menu-submenu {
	border: 1px solid #e3e3e3;
	padding-bottom: unset !important;
	border-radius: var(--card-curve);
	overflow: hidden;
}

.filter-card {
	margin-top: 8px;
}

.ant-menu-submenu-title {
	background: aqua;
}

.ant-menu-submenu-title:active {
	border-radius: var(--card-curve);
}

.ant-menu-inline .ant-menu-submenu-title {
	margin: unset !important;
}

.ant-menu-sub.ant-menu-inline {
	display: flex;
	flex-direction: column;
}

.ant-menu-sub.ant-menu-inline > * {
	align-self: center;
}

.ant-menu-sub.ant-menu-hidden {
	display: none;
}

.ant-layout {
	background: #fff !important;
}

.card .ant-card-bordered {
	border-radius: 8px;
}

.movies {
	flex-wrap: wrap;
	justify-content: center;
}

.ant-card-meta {
	margin: unset;
}

.poster.image {
	object-fit: cover;
	border-radius: 8px 8px 0px 0px;
}
.card.movie {
	width: var(--height);
	user-select: none;
}

.card.movie .ant-card-cover,
.poster.image,
.ant-skeleton-image {
	height: var(--height);
	width: 100%;
}

.ant-card-cover * {
	height: var(--height) !important;
	width: 100% !important;
}

.site-layout-content {
	min-height: 280px;
	padding: 100px;
	background: #fff;
}
.card.title {
	margin-top: 16px;
	margin-bottom: 0.5em;
	word-break: break-word;
	white-space: break-spaces;
}

a.card.title {
	color: black;
}

.card.title:hover {
	color: rgba(1 180 228);
}

.card.movie .ant-card-body {
	/* background: #639bd0; */
	margin-top: -1px;
	margin-right: -1px;
	margin-left: -1px;
	height: 50px;
	display: flex;
	align-items: center;
}

header > div.ant-row {
	align-items: center;
}

#center {
	border: thin solid red;
	background: green;
	border-radius: 15px 0px 0px 15px;
	height: 33px;
	min-height: 31px;
	max-width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.movies.input {
	width: 120px;
}
